<!-- <app-page-title heading="Visit.Title" [backButton]="true" (onBackClick)="onBackClick()">
</app-page-title>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form>
                    <div class="row mb-20">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="id" l10nTranslate>Visit.id</label>
                                <input name="id" id="id" [(ngModel)]="item.id" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="name" l10nTranslate>Visit.Name</label>
                                <input name="name" id="name" [(ngModel)]="item.name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="accessPermissionInto" l10nTranslate>Visit.AccessPermissionInto</label>
                                <input name="accessPermissionInto" id="accessPermissionInto"
                                    [(ngModel)]="item.accessPermissionInto" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="status" l10nTranslate>Visit.Status</label>
                                <input name="status" id="status" [(ngModel)]="item.status" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="visitfor" l10nTranslate>Visit.visitfor</label>
                                <select name="visitfor" id="visitfor" [(ngModel)]="item.visitfor" class="form-control">
                                    <option value="LAB">LAB</option>
                                    <option value="OPD">OPD</option>
                                    <option value="IPD">IPD</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="visittype" l10nTranslate>Visit.visittype</label>
                                <input name="visittype" id="visittype" [(ngModel)]="item.visittype" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="appointmentid" l10nTranslate>Visit.appointmentid</label>
                                <input name="appointmentid" id="appointmentid" [(ngModel)]="item.appointmentid"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="patientid" l10nTranslate>Visit.patientid</label>
                                <input name="patientid" id="patientid" [(ngModel)]="item.patientid" type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-right">
                            <button type="button" class="mt-1 btn btn-primary" (click)="save()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->