<!-- <app-page-title heading="Visit.Title" [createButton]="true" (onCreateClick)="create()">
</app-page-title>
<sc-table #listTable [datasource]="datasource" orderBy="name" (onRowClick)="redirectToEdit($event)">
    <sc-table-column title="Id" orderBy="id">
        <ng-template let-row="row">
            {{row.id}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Visit.Name" orderBy="name">
        <ng-template let-row="row">
            {{row.name}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Visit.AccessPermissionInto">
        <ng-template let-row="row">
            {{row.accessPermissionInto}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Visit.Status">
        <ng-template let-row="row">
            {{row.status}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Visit.visitfor">
        <ng-template let-row="row">
            {{row.visitfor}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Visit.visittype">
        <ng-template let-row="row">
            {{row.visittype}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Visit.appointmentid">
        <ng-template let-row="row">
            {{row.appointmentid}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Visit.patientid">
        <ng-template let-row="row">
            {{row.patientid}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Options">
        <ng-template let-row="row">
            <button type="button" class="btn-shadow d-inline-flex btn btn-sm btn-danger"
                (click)="deleteItem($event, row.id)">Delete</button>
        </ng-template>
    </sc-table-column>
</sc-table> -->