<!-- <app-page-title heading="CommissionDetail.Title" [backButton]="true" (onBackClick)="onBackClick()">
</app-page-title>
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <form>
          <div class="row mb-20">
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="InvoiceType" l10nTranslate>CommissionDetail.InvoiceType</label>
                <input name="InvoiceType" id="InvoiceType" [(ngModel)]="item.InvoiceType" type="text"
                  class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="VendorName" l10nTranslate>CommissionDetail.VendorName</label>
                <input name="VendorName" id="VendorName" [(ngModel)]="item.VendorName" type="text"
                  class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="Amount" l10nTranslate>CommissionDetail.Amount</label>
                <input name="Amount" id="Amount" [(ngModel)]="item.Amount" type="number" class="form-control" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="position-relative form-group">
                <label for="Notes" l10nTranslate>CommissionDetail.Notes</label>
                <input name="Notes" id="Notes" [(ngModel)]="item.Notes" type="text" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 align-right">
              <button type="button" class="mt-1 btn btn-primary" (click)="save()">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->