<!-- <app-page-title heading="Department.Title" [backButton]="true" (onBackClick)="onBackClick()">
</app-page-title>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form>
                    <div class="col-md-4">
                        <div class="position-relative form-group">
                            <label for="Name" l10nTranslate>Department.Name</label>
                            <input name="Name" id="Name" [(ngModel)]="item.Name" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-right">
                            <button type="button" class="mt-1 btn btn-primary" (click)="save()">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->