<general-page-title heading="Location.Title" [createButton]="true" (onCreateClick)="create()">
</general-page-title>
<sc-table #listTable [dataSource]="dataSource" [columnInfo]="infodetailColumns" (onRowClick)="redirectToEdit($event)"
  [actionColumnsList]="actionColumns">
</sc-table>