<general-page-title heading="Location.Title" [backButton]="true" (onBackClick)="onBackClick()">
</general-page-title>

<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <!-- <div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="LocationCode" l10nTranslate>Location.LocationCode</label>
              <input name="code" id="code" [(ngModel)]="item.code" type="text" class="form-control" />
              <input name="code" [(ngModel)]="item.code" formControlName="LocationCode" type="text" class="form-control"
                id="code" placeholder="Enter Code" required />
            </div>
          </div>

          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="LocationType" l10nTranslate>Location.LocationType</label>
              <select id="typeId" [(ngModel)]="item.typeId" name="typeId" class="form-control">
                <option value="0">--Select--</option>
                <option *ngFor="let data of LocationTypedata" [ngValue]="data.id">
                  {{ data.name }}</option>
              </select>
              value="{{ data.Id }}"
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="ParentLocation" l10nTranslate>Location.ParentLocation</label>
              <select id="parentId" [(ngModel)]="item.parentId" name="parentId" class="form-control">
                <option value="0">--Select--</option>
                <option *ngFor="let data of locationlist" [ngValue]="data.id">
                  {{ data.name }}
                </option>
              </select>
            </div>
          </div>
          <div class="card-body">
            <mat-checkbox [(ngModel)]="checked">Is Active</mat-checkbox>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-12 align-right">
            <button type="button" class="mt-1 btn btn-primary" (click)="save()">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>