<div class="app-page-title">
  <div class="page-title-wrapper">
    <div class="page-title-heading">
      <div class="page-title-icon" *ngIf="icon">
        <i class="icon {{icon}}"></i>
      </div>
      <div>
        <!-- {{heading | translate:lang}} -->
        {{heading}}
        <div class="page-title-subheading">
          {{subheading}}
        </div>
      </div>
    </div>
    <div class="page-title-actions">
      <button type="button" *ngIf="createButton" class="btn-shadow d-inline-flex align-items-center btn btn-success"
        (click)="onCreate($event)">
        <fa class="mr-2" name="plus"></fa>
        Create New
      </button>
      <button type="button" *ngIf="backButton" class="btn-shadow d-inline-flex align-items-center btn btn-secondary"
        (click)="onBack($event)">
        <fa class="mr-2" name="arrow-left"></fa>
        Back to list
      </button>
    </div>
  </div>
</div>