<general-page-title heading="Appointment.Title" [backButton]="true" (onBackClick)="onBackClick()">
</general-page-title>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form>
                    <div class="row mb-20">
                        <!-- <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="id" l10nTranslate>Appointment.id</label>
                                <input name="id" id="id" [(ngModel)]="item.id" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="name" l10nTranslate>Appointment.Name</label>
                                <input name="name" id="name" [(ngModel)]="item.name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="accessPermissionInto" l10nTranslate>Appointment.AccessPermissionInto</label>
                                <input name="accessPermissionInto" id="accessPermissionInto"
                                    [(ngModel)]="item.accessPermissionInto" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="status" l10nTranslate>Appointment.Status</label>
                                <input name="status" id="status" [(ngModel)]="item.status" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="patientid" l10nTranslate>Appointment.patientid</label>
                                <input name="patientid" id="patientid" [(ngModel)]="item.patientid" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="doctorid" l10nTranslate>Appointment.doctorid</label>
                                <input name="doctorid" id="doctorid" [(ngModel)]="item.doctorid" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="timeslot" l10nTranslate>Appointment.timeslot</label>
                                <input name="timeslot" id="timeslot" [(ngModel)]="item.timeslot" type="date"
                                    class="form-control">
                            </div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-right">
                            <button type="button" class="mt-1 btn btn-primary" (click)="save()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>