<!-- <app-page-title heading="Facility.Title" [backButton]="true" (onBackClick)="onBackClick()">
</app-page-title>
<div>
    <div class="col-md-12">
        <div>
            <form>
                <div class="row mb-20">
                    <div class="col-md-12">
                        <div>
                            <div>
                                <mat-accordion class="example-headers-align">
                                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)"
                                        hideToggle="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Facility
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="position-relative form-group">
                                                    <label for="FacilityCode"
                                                        l10nTranslate>Facility.FacilityCode</label>
                                                    <input name="FacilityCode" id="FacilityCode"
                                                        [(ngModel)]="item.FacilityCode" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="position-relative form-group">
                                                    <label for="status" l10nTranslate>User.Status</label>
                                                    <div>
                                                        <mat-checkbox (change)="onStatusChange(item)"
                                                            [checked]="item.checked">Is Active
                                                        </mat-checkbox>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="FacilityDisplayName"
                                                        l10nTranslate>Facility.FacilityName</label>
                                                    <input name="FacilityDisplayName" id="FacilityDisplayName"
                                                        [(ngModel)]="item.FacilityDisplayName" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="FacilityType"
                                                        l10nTranslate>Facility.FacilityType</label>
                                                    <select class="form-control" name="FacilityType" id="FacilityType"
                                                        [(ngModel)]="item.FacilityType" type="text">
                                                        <option value="FacilityType1">FacilityType1</option>
                                                        <option value="FacilityType2">FacilityType2</option>
                                                        <option value="FacilityType3">FacilityType3</option>
                                                        <option value="FacilityType4">FacilityType4</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="FacilityShortName"
                                                        l10nTranslate>Facility.FacilityShortName</label>
                                                    <input name="FacilityShortName" id="FacilityShortName"
                                                        [(ngModel)]="item.FacilityShortName" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="LicenceNumber"
                                                        l10nTranslate>Facility.LicenceNumber</label>
                                                    <input name="LicenceNumber" id="LicenceNumber"
                                                        [(ngModel)]="item.LicenceNumber" type="text"
                                                        class="form-control">
                                                </div>

                                            </div>


                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="Website" l10nTranslate>Facility.Website</label>
                                                    <input name="Website" id="Website" [(ngModel)]="item.Website"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <mat-action-row>
                                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)"
                                        hideToggle="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Facility Address
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="PostBoxNumber"
                                                        l10nTranslate>Facility.PostBoxNumber</label>
                                                    <input name="PostBoxNumber" id="PostBoxNumber"
                                                        [(ngModel)]="item.FacilityAddress.PostBoxNumber" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="AddressLine1"
                                                        l10nTranslate>Facility.AddressLine1</label>
                                                    <input name="AddressLine1" id="AddressLine1"
                                                        [(ngModel)]="item.FacilityAddress.AddressLine1" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="AddressLine2"
                                                        l10nTranslate>Facility.AddressLine2</label>
                                                    <input name="AddressLine2" id="AddressLine2"
                                                        [(ngModel)]="item.FacilityAddress.AddressLine2" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="City" l10nTranslate>Facility.City</label>
                                                    <select name="City" id="City"
                                                        [(ngModel)]="item.FacilityAddress.City" type="text"
                                                        class="form-control">
                                                        <option value="City1">City1</option>
                                                        <option value="City2">City2</option>
                                                        <option value="City3">City3</option>
                                                        <option value="City4">City4</option>
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="State" l10nTranslate>Facility.State</label>
                                                    <input name="State" id="State"
                                                        [(ngModel)]="item.FacilityAddress.State" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="Country" l10nTranslate>Facility.Country</label>
                                                    <select name="Country" id="Country"
                                                        [(ngModel)]="item.FacilityAddress.Country" type="text"
                                                        class="form-control">
                                                        <option value="Country1">Country1</option>
                                                        <option value="Country2">Country2</option>
                                                        <option value="Country3">Country3</option>
                                                        <option value="Country4">Country4</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="Zip" l10nTranslate>Facility.Zip</label>
                                                    <input name="Zip" id="Zip" [(ngModel)]="item.FacilityAddress.Zip"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="EmailId" l10nTranslate>Facility.EmailId</label>
                                                    <input name="EmailId" id="EmailId"
                                                        [(ngModel)]="item.FacilityAddress.EmailId" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="PhoneNumber1"
                                                        l10nTranslate>Facility.PhoneNumber1</label>
                                                    <input name="PhoneNumber1" id="PhoneNumber1"
                                                        [(ngModel)]="item.FacilityAddress.PhoneNumber1" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="PhoneNumber2"
                                                        l10nTranslate>Facility.PhoneNumber2</label>
                                                    <input name="PhoneNumber2" id="PhoneNumber2"
                                                        [(ngModel)]="item.FacilityAddress.PhoneNumber2" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="FaxNumber" l10nTranslate>Facility.FaxNumber</label>
                                                    <input name="FaxNumber" id="FaxNumber"
                                                        [(ngModel)]="item.FacilityAddress.FaxNumber" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <mat-action-row>
                                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)"
                                        hideToggle="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Facility ContactPerson Detail
                                            </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="FacilityIncharge"
                                                        l10nTranslate>Facility.FacilityIncharge</label>
                                                    <input name="FacilityIncharge" id="FacilityIncharge"
                                                        [(ngModel)]="item.FacilityContactPersonDetail.FacilityIncharge"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="InchargeDesignation"
                                                        l10nTranslate>Facility.InchargeDesignation</label>
                                                    <select name="InchargeDesignation" id="InchargeDesignation"
                                                        [(ngModel)]="item.FacilityContactPersonDetail.InchargeDesignation"
                                                        type="text" class="form-control">
                                                        <option value="InchargeDesignation1">InchargeDesignation1
                                                        </option>
                                                        <option value="InchargeDesignation2">InchargeDesignation2
                                                        </option>
                                                        <option value="InchargeDesignation3">InchargeDesignation3
                                                        </option>
                                                        <option value="InchargeDesignation4">InchargeDesignation4
                                                        </option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="EmailId" l10nTranslate>Facility.EmailId</label>
                                                    <input name="EmailId" id="EmailId"
                                                        [(ngModel)]="item.FacilityContactPersonDetail.EmailId"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="PhoneNumber" l10nTranslate>Facility.PhoneNumber</label>
                                                    <input name="PhoneNumber" id="PhoneNumber"
                                                        [(ngModel)]="item.FacilityContactPersonDetail.PhoneNumber"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <mat-action-row>
                                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)"
                                        hideToggle="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Facility Affiliation Organization Detail
                                            </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="OrganizationName"
                                                        l10nTranslate>Facility.OrganizationName</label>
                                                    <input name="OrganizationName" id="OrganizationName"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.OrganizationName"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="PostBoxNumber1"
                                                        l10nTranslate>Facility.PostBoxNumber</label>
                                                    <input name="PostBoxNumber1" id="PostBoxNumber1"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.PostBoxNumber"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="AddressLine_1"
                                                        l10nTranslate>Facility.AddressLine1</label>
                                                    <input name="AddressLine_1" id="AddressLine_1"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.AddressLine1"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="AddressLine_2"
                                                        l10nTranslate>Facility.AddressLine2</label>
                                                    <input name="AddressLine_2" id="AddressLine_2"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.AddressLine2"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="City" l10nTranslate>Facility.City</label>
                                                    <select name="City" id="City"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.City" type="text"
                                                        class="form-control">
                                                        <option value="City1">City1</option>
                                                        <option value="City2">City2</option>
                                                        <option value="City3">City3</option>
                                                        <option value="City4">City4</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="State" l10nTranslate>Facility.State</label>
                                                    <input name="State" id="State"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.State"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="Country" l10nTranslate>Facility.Country</label>
                                                    <select name="Country" id="Country"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.Country"
                                                        type="text" class="form-control">
                                                        <option value="Country1">Country1</option>
                                                        <option value="Country2">Country2</option>
                                                        <option value="Country3">Country3</option>
                                                        <option value="Country4">Country4</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="Zip" l10nTranslate>Facility.Zip</label>
                                                    <input name="Zip" id="Zip"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.Zip" type="text"
                                                        class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="PhoneNumber1"
                                                        l10nTranslate>Facility.PhoneNumber1</label>
                                                    <input name="PhoneNumber1" id="PhoneNumber1"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.PhoneNumber1"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="PhoneNumber2"
                                                        l10nTranslate>Facility.PhoneNumber2</label>
                                                    <input name="PhoneNumber2" id="PhoneNumber2"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.PhoneNumber2"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="EmailId" l10nTranslate>Facility.EmailId</label>
                                                    <input name="EmailId" id="EmailId"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.EmailId"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="FaxNumber" l10nTranslate>Facility.FaxNumber</label>
                                                    <input name="FaxNumber" id="FaxNumber"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.FaxNumber"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="position-relative form-group">
                                                    <label for="Website" l10nTranslate>Facility.Website</label>
                                                    <input name="Website" id="Website"
                                                        [(ngModel)]="item.FacilityAffiliationOrgDetail.Website"
                                                        type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <mat-action-row>
                                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                            <button mat-button color="primary" (click)="nextStep()">Next</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)"
                                        hideToggle="true">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Facility Logo,Specialities & WeeklyOff
                                            </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <div class="row"></div>
                                        <mat-action-row>
                                            <button mat-button color="warn" (click)="prevStep()">Previous</button>
                                            <button mat-button color="primary" (click)="save()">Submit</button>
                                        </mat-action-row>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->
