<!-- <app-page-title heading="Facility.Title" [createButton]="true" (onCreateClick)="create()">
</app-page-title>
<sc-table #listTable [datasource]="datasource" [columnInfo]="infodetailColumns" (onRowClick)="redirectToEdit($event)"
    [actionColumnsList]="actionColumns">
</sc-table> -->