<div class="header-menu-item dropdown-menu-rounded btn-group" ngbDropdown>
    <button type="button" class="btn btn-link" ngbDropdownToggle>
        <span>
            <i class="link-icon fa fa-language"></i>
            {{currentLanguage.englishName}}
        </span>
    </button>
    <div ngbDropdownMenu>
        <ng-container *ngFor="let language of languages">
            <button type="button" class="dropdown-item" (click)="setLanguage(language)">
                <span>{{language.englishName}}</span>
            </button>
        </ng-container>
    </div>
</div>