<div class="app-sidebar-content">
  <div class="app-sidebar-scroll">
    <perfect-scrollbar>
      <div
        class="v-sidebar-menu vsm-default"
        style="padding: 0 0.8rem; margin-top: 10px;"
      >
        <div *ngFor="let menu of submenufilter">
          <div class="vsm-list">
            <ngb-accordion [closeOthers]="true" *ngIf="menu.url == ''">
              <ngb-panel id="dashboardsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link" style="padding: 0;">
                    <span class="vsm-title vsm-title-in">{{ menu.title }}</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div *ngFor="let submenu of menu.Subcontrol">
                        <div class="vsm-item">
                          <a
                            style="padding: 0;"
                            routerLink="{{ submenu.url }}"
                            routerLinkActive="active-item"
                            class="vsm-link"
                            ><span class="vsm-title">{{
                              submenu.title
                            }}</span></a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            <!-- <div class="vsm-item" *ngIf="menu.url!=''">
                              <a style="padding:0;" routerLink="{{menu.url}}" routerLinkActive="active-item"
                                  class="vsm-link">
                                  <span class="vsm-title" style="margin-left: -2.5rem;">{{menu.title}}</span>
                              </a>
                          </div> -->
            <ngb-accordion [closeOthers]="true" *ngIf="menu.url != ''">
              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <button
                    ngbPanelToggle
                    class="vsm-link"
                    style="padding: 0;"
                    routerLink="{{ menu.url }}"
                  >
                    <span class="vsm-title vsm-title-in">{{ menu.title }}</span>
                  </button>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </div>
        </div>
      </div>
    </perfect-scrollbar>
  </div>
</div>
