<!-- <p>services works!</p><app-page-title heading="Services.Title" [createButton]="true" (onCreateClick)="create()">
</app-page-title>
<sc-table #listTable [datasource]="datasource" orderBy="name" (onRowClick)="redirectToEdit($event)">
    <sc-table-column title="Id" orderBy="id">
        <ng-template let-row="row">
            {{row.id}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Services.Name" orderBy="name">
        <ng-template let-row="row">
            {{row.name}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Services.AccessPermissionInto">
        <ng-template let-row="row">
            {{row.accessPermissionInto}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Services.Status">
        <ng-template let-row="row">
            {{row.status}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Services.displayname">
        <ng-template let-row="row">
            {{row.displayname}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Services.servicerelatedto">
        <ng-template let-row="row">
            {{row.servicerelatedto}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Services.type">
        <ng-template let-row="row">
            {{row.type}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Options">
        <ng-template let-row="row">
            <button type="button" class="btn-shadow d-inline-flex btn btn-sm btn-danger"
                (click)="deleteItem($event, row.id)">Delete</button>
        </ng-template>
    </sc-table-column>
</sc-table> -->