<!-- <app-page-title heading="Services.Title" [backButton]="true" (onBackClick)="onBackClick()">
</app-page-title>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form>
                    <div class="row mb-20">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="id" l10nTranslate>Services.id</label>
                                <input name="id" id="id" [(ngModel)]="item.id" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="name" l10nTranslate>Services.Name</label>
                                <input name="name" id="name" [(ngModel)]="item.name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="accessPermissionInto" l10nTranslate>Services.AccessPermissionInto</label>
                                <input name="accessPermissionInto" id="accessPermissionInto"
                                    [(ngModel)]="item.accessPermissionInto" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="status" l10nTranslate>Services.Status</label>
                                <input name="status" id="status" [(ngModel)]="item.status" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="displayname" l10nTranslate>Services.displayname</label>
                                <input name="displayname" id="displayname" [(ngModel)]="item.displayname" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="servicerelatedto" l10nTranslate>Services.servicerelatedto</label>
                                <select name="servicerelatedto" id="servicerelatedto"
                                    [(ngModel)]="item.servicerelatedto" class="form-control">
                                    <option value="LAB">LAB</option>
                                    <option value="IPD">IPD</option>
                                    <option value="OPD">OPD</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="type" l10nTranslate>Services.type</label>
                                <select name="type" id="type" [(ngModel)]="item.type" class="form-control">
                                    <option value="Group">Group</option>
                                    <option value="Profile">Profile</option>
                                    <option value="Normal">Normal</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-right">
                            <button type="button" class="mt-1 btn btn-primary" (click)="save()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->