<!-- <app-page-title heading="Invoice.Title" [createButton]="true" (onCreateClick)="create()">
</app-page-title>
<sc-table #listTable [datasource]="datasource" orderBy="name" (onRowClick)="redirectToEdit($event)">
    <sc-table-column title="Id" orderBy="id">
        <ng-template let-row="row">
            {{row.id}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.Name" orderBy="name">
        <ng-template let-row="row">
            {{row.name}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.AccessPermissionInto">
        <ng-template let-row="row">
            {{row.accessPermissionInto}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.Status">
        <ng-template let-row="row">
            {{row.status}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.patientid">
        <ng-template let-row="row">
            {{row.patientid}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.totalamount">
        <ng-template let-row="row">
            {{row.totalamount}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.grossdiscount">
        <ng-template let-row="row">
            {{row.grossdiscount}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.netvalue">
        <ng-template let-row="row">
            {{row.netvalue}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.netpatientvalue">
        <ng-template let-row="row">
            {{row.netpatientvalue}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Invoice.tpaid">
        <ng-template let-row="row">
            {{row.tpaid}}
        </ng-template>
    </sc-table-column>
    <sc-table-column title="Options">
        <ng-template let-row="row">
            <button type="button" class="btn-shadow d-inline-flex btn btn-sm btn-danger"
                (click)="deleteItem($event, row.id)">Delete</button>
        </ng-template>
    </sc-table-column>
</sc-table> -->