<!-- <app-page-title heading="Invoice.Title" [backButton]="true" (onBackClick)="onBackClick()">
</app-page-title>
<div class="row">
    <div class="col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-body">
                <form>
                    <div class="row mb-20">
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="id" l10nTranslate>Invoice.id</label>
                                <input name="id" id="id" [(ngModel)]="item.id" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="name" l10nTranslate>Invoice.Name</label>
                                <input name="name" id="name" [(ngModel)]="item.name" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="accessPermissionInto" l10nTranslate>Invoice.AccessPermissionInto</label>
                                <input name="accessPermissionInto" id="accessPermissionInto"
                                    [(ngModel)]="item.accessPermissionInto" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="status" l10nTranslate>Invoice.Status</label>
                                <input name="status" id="status" [(ngModel)]="item.status" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="patientid" l10nTranslate>Invoice.patientid</label>
                                <input name="patientid" id="patientid" [(ngModel)]="item.patientid" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="totalamount" l10nTranslate>Invoice.totalamount</label>
                                <input name="totalamount" id="totalamount" [(ngModel)]="item.totalamount" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="grossdiscount" l10nTranslate>Invoice.grossdiscount</label>
                                <input name="grossdiscount" id="grossdiscount" [(ngModel)]="item.grossdiscount"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="netvalue" l10nTranslate>Invoice.netvalue</label>
                                <input name="netvalue" id="netvalue" [(ngModel)]="item.netvalue" type="text"
                                    class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="netpatientvalue" l10nTranslate>Invoice.netpatientvalue</label>
                                <input name="netpatientvalue" id="netpatientvalue" [(ngModel)]="item.netpatientvalue"
                                    type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-group">
                                <label for="tpaid" l10nTranslate>Invoice.tpaid</label>
                                <input name="tpaid" id="tpaid" [(ngModel)]="item.tpaid" type="text"
                                    class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 align-right">
                            <button type="button" class="mt-1 btn btn-primary" (click)="save()">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->