<!-- <app-page-title
  heading="TPAMaster.Title"
  [backButton]="true"
  (onBackClick)="onBackClick()"
>
</app-page-title>
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <form>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="Name" l10nTranslate>TPAMaster.Name</label>
              <input
                name="Name"
                id="Name"
                [(ngModel)]="item.Name"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="DisplayName " l10nTranslate
                >TPAMaster.DisplayName
              </label>
              <input
                name="DisplayName"
                id="DisplayName"
                [(ngModel)]="item.DisplayName"
                type="text"
                class="form-control"
              />
            </div>
          </div>

          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="ContactPersonEmail" l10nTranslate
                >TPAMaster.ContactPersonEmail</label
              >
              <input
                name="ContactPersonEmail"
                id="ContactPersonEmail"
                [(ngModel)]="item.ContactPersonEmail"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="ContactPersonPhone" l10nTranslate
                >TPAMaster.ContactPersonPhone</label
              >
              <input
                name="ContactPersonPhone"
                id="ContactPersonPhone"
                [(ngModel)]="item.ContactPersonPhone"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="Address" l10nTranslate>TPAMaster.Address</label>
              <input
                name="Address"
                id="Address"
                [(ngModel)]="item.Address"
                type="text"
                class="form-control"
              />
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 align-right">
              <button
                type="button"
                class="mt-1 btn btn-primary"
                (click)="save()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
