<!-- <app-page-title
  heading="ServiceUsage.Title"
  [backButton]="true"
  (onBackClick)="onBackClick()"
>
</app-page-title>
<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-3 card">
      <div class="card-body">
        <form>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="VisitType" l10nTranslate>ServiceUsage.VisitType</label>
              <input
                name="VisitType"
                id="VisitType"
                [(ngModel)]="item.VisitType"
                type="text"
                class="form-control"
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="PatienName" l10nTranslate
                >ServiceUsage.PatientName</label
              >
              <input
                name="PatienName"
                id="PatienName"
                [(ngModel)]="item.PatienName"
                type="text"
                class="form-control"  
              />
            </div>
          </div>
          <div class="col-md-4">
            <div class="position-relative form-group">
              <label for="Investigation" l10nTranslate
                >ServiceUsage.Investigation</label
              >
              <input
                name="Investigation"
                id="Investigation"
                [(ngModel)]="item.Investigation"
                type="text"
                class="form-control"  
              />
            </div>
          </div>
          

          <div class="row">
            <div class="col-md-12 align-right">
              <button
                type="button"
                class="mt-1 btn btn-primary"
                (click)="save()"
              >
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
