<div class="card main-card mb-5">
  <div *ngIf="filterColumns.length > 0" class="p-2">
    <div style="margin-left: 10px;margin-top: 20px;float: right;">
      <mat-form-field>
        <mat-label>Select Columns</mat-label>
        <mat-select
          #ddlSelectColumns
          [formControl]="selectColumnList"
          multiple
          [(ngModel)]="selectedColumnItems">
          <mat-option
            *ngFor="let item of columnInfo"
            [value]="item"
            [disabled]="item.isDefaultColumn">
            <!-- {{ item.label | translate: lang }} -->
            {{ item.label }}
          </mat-option>

          <div>
            <button
              style="margin-left: 10px;"
              type="button"
              (click)="onApplyColumn()"
              class="btn-shadow d-inline-flex align-items-center btn btn-success">
              Apply
            </button>
            <button
              style="margin-left: 10px;"
              type="button"
              (click)="onClearColumn($event)"
              class="btn-shadow d-inline-flex align-items-center btn btn-success">
              Set Default
            </button>
          </div>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group form-inline mb-0">
      <div class="col-md-4">
        <div class="col-md-12">
          <div class="form-group">
            <label style="margin-left: 10px;"> Search Text </label>
            <input
              class="form-control ml-2"
              type="text"
              name="searchTerm"
              [(ngModel)]="searchTerm" />
          </div>
        </div>
      </div>

      <button
        style="margin-left: 10px;margin-top: 20px;"
        type="button"
        class="btn-shadow d-inline-flex align-items-center btn btn-success"
        (click)="onSearch($event)">
        <fa class="mr-2" name="search"></fa>
        Search
      </button>
    </div>
  </div>

  <table class="table table-striped sc-table">
    <thead>
      <tr>
        <ng-container
          *ngFor="let column of primaryColumns; let colindex = index">
          <th
            *ngIf="column.visible === true || column.isDefaultColumn === true"
            (click)="orderData(column.orderBy)"
            [class.sortable]="!!column.orderBy">
            <!-- {{ column.label | translate: lang }} -->
            {{ column.label }}
            <i
              class="fa ml-10"
              *ngIf="column.orderBy"
              [class.fa-sort-asc]="
                column.orderBy === orderBy && direction === 'asc'
              "
              [class.fa-sort-desc]="
                column.orderBy === orderBy && direction === 'desc'
              "
              [class.fa-sort]="column.orderBy !== orderBy"></i>
          </th>
        </ng-container>
      </tr>
    </thead>

    <tbody *ngIf="dataSource && dataSource.data">
      <ng-container *ngFor="let row of dataSource.data; let rowindex = index">
        <tr>
          <ng-container
            *ngFor="let column of primaryColumns; let columnindex = index">
            <td
              *ngIf="
                column.name != 'ActionColumn' &&
                (column.visible === true || column.isDefaultColumn === true)
              "
              (click)="OnParentClick(rowindex)">
              {{ column.render ? column.render(row) : row[column.name] }}
            </td>
          </ng-container>
          <td
            *ngIf="actionColumnsList"
            class="sc-action-column"
            style="padding-top:0px;padding-bottom: 0px;width: 50px;">
            <div class="d-inline-block" ngbDropdown>
              <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <ng-container *ngFor="let item of actionColumnsList">
                  <mat-divider></mat-divider>
                  <button
                    class="mat-menu-item"
                    (click)="onActionItemClick(item, row, $event)">
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                  </button>
                </ng-container>
                <mat-divider></mat-divider>
              </mat-menu>
            </div>
          </td>
        </tr>
        <tr
          style="display: none;"
          class="div_{{ [rowindex] }}"
          id="div_{{ [rowindex] }}">
          <td [attr.colspan]="detailColumns.length">
            <div class="row">
              <ng-container *ngFor="let item of detailColumns">
                <div
                  *ngIf="item.visible === true"
                  [attr.class]="item.cssClass ? item.cssClass : 'col-xs-12'">
                  {{ item.label }} :
                  {{ item.render ? item.render(row) : row[item.name] }}
                </div>
              </ng-container>
            </div>
          </td>
        </tr>
        <tr style="display: none;"></tr>
      </ng-container>

      <tr *ngIf="dataSource.data.length === 0">
        <td [attr.colspan]="primaryColumns.length">No records found.</td>
      </tr>
    </tbody>
  </table>
  <div class="card-footer pb-0">
    <div class="d-flex w-100 justify-content-between" *ngIf="dataSource">
      <ngb-pagination
        [collectionSize]="dataSource.totalCount"
        [maxSize]="10"
        [(page)]="page"
        [pageSize]="perPage">
      </ngb-pagination>
    </div>
  </div>
</div>
